**/.DS_Store
*/.DS_Store
.DS_Store

venv_0760_20_01_ML_StudPerf_311_01.txt
**/notebook/procedures/project_001_001.ipynb
**/notebook/procedures/project_002_001.ipynb
**/notebook/procedures/project_003_001.ipynb
**/notebook/procedures/project_004_001.ipynb
**/notebook/procedures/project_005_001.ipynb
**/notebook/procedures/project_006_001.ipynb